[global]

# All options should be wrapped in quotes

# influxdb_host = ""
# influxdb_port = ""
# influxdb_database = ""
# influxdb_username = ""
# influxdb_password = ""

# request_timeout = "10"
# request_verify_ssl = "False"
# reporting_interval = "30"

# instances="nextcloud; user; password; http://127.0.0.1/ocs/v2.php/apps/serverinfo/api/v1/info"
